src/main/mule/apiexample.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd 
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
    <http:listener-config name="apiexample-httpListenerConfig">
        <http:listener-connection host="${http.host}" port="${http.port}" />
    </http:listener-config>
    <apikit:config name="apiexample-config" api="apiexample.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" >
		<apikit:flow-mappings >
			<apikit:flow-mapping resource="/userInfo" action="post" content-type="application/json" flow-ref="post:\userInfo:application\json:apiexample-config" />
			<apikit:flow-mapping resource="/promotions" action="post" content-type="application/json" flow-ref="post:\promotions:application\json:apiexample-config" />
			<apikit:flow-mapping resource="/userInfo" action="get" flow-ref="getUserInfo" />
		</apikit:flow-mappings>
	</apikit:config>
    <configuration-properties doc:name="Configuration properties" doc:id="1a3e65ea-1697-40c9-8dbd-26fea737ce4a" file="Mule-${env}.properties" />
	<flow name="apiexample-main">
        <http:listener config-ref="apiexample-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="apiexample-config" />
        <error-handler>
         <on-error-propagate type="APIKIT:BAD_REQUEST" enableNotifications="true" logException="true">
				<set-variable value="#[error.description]" doc:name="Set Variable" doc:id="89a14508-f56a-4a96-98c4-3bfb87607a7a" variableName="errorMessage"/>
				<ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	message: vars.errorMessage
	
	
	
	
}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus"><![CDATA[400]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
				<logger level="INFO" doc:name="Logger" doc:id="f5586bc8-2e0f-408b-95af-13439dbddb72" message="Error Desc -- #[error.description]"/>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="apiexample-console">
        <http:listener config-ref="apiexample-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="apiexample-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="post:\promotions:application\json:apiexample-config">
        <logger level="INFO" doc:name="Logger promotions" doc:id="430fe08b-0a1d-4ae7-9745-7f049ae95906" message="promotions  #[payload]"/>
		<ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  display_text: "Free ride up to \$30",
  localized_value: "\$30",
  "type": "trip_credit"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
		<logger level="INFO" doc:name="Logger After promotions" doc:id="1061d8f6-f2a0-4a59-989b-4b24e6f9e55e" message="After promotions  #[payload]"/>
    </flow>
    <flow name="post:\userInfo:application\json:apiexample-config">
		<logger level="INFO" doc:name="Logger - UserInfo" doc:id="5560bbf3-925c-4bb4-bbf2-ff87e5a104b0" message="message.payloadAs(java.lang.String)"/>
		<ee:transform doc:name="Transform Message" doc:id="aef90022-7d26-4ca1-9e83-4161aefd3aad" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
  "requestid" : payload.request_id ,
  "charges" : payload.charges   map {
  	
  	Name: $.name,
  	Amount: $.amount,
  	Type: $.types,
  
  }
  
 
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger - After Transformation" doc:id="74887f6b-9019-4119-a92d-b88e5d6a27ea" message="message.payloadAs(java.lang.String)"/>
    </flow>
	<flow name="getUserInfo" doc:id="a916df15-4c29-4086-9ec1-fa0693eb013e" >
		<ee:transform doc:name="Transform Message" doc:id="3d4efa99-6e5f-477a-818a-69c0003e81f7" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="names" ><![CDATA[%dw 2.0
output application/java
---
attributes.queryParams.name]]></ee:set-variable>
				<ee:set-variable variableName="amounts" ><![CDATA[%dw 2.0
output application/java
---
attributes.queryParams.amount]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<logger level="INFO" doc:name="Logger Name And Amount" doc:id="46b81fdc-5256-456b-92eb-c1ea5230f87d" message="Name and Amount #[vars.names]  Amount #[vars.amounts]"/>
		<ee:transform doc:name="Transform Message" doc:id="e37143ce-d520-4288-a95e-ba161a7bd1a2" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
---
 {
    	Result:{
    		Name:vars.names,
    		Amount: vars.amounts
    		
    	}
    }]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger Name And Amount" doc:id="8be82b9b-0594-4c07-93df-0859628de30d" message="message.payloadAs(java.lang.String)"/>
	</flow>
</mule>
